body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0d1117;
  color: #c9d1d9;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #161b22;
  border-bottom: 2px solid #30363d;
}

h1, h2{
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}

header h1 {
  margin: 0;
  font-size: 2rem;
  color: #ffee58;
}

/* Main Content */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.party {
  flex: 1 1 45%;
  margin: 10px;
  padding: 20px;
  background-color: #21262d;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.party img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.party h2 {
  color: #f78166;
  margin-bottom: 10px;
}

.party p {
  font-size: 1rem;
  line-height: 1.6;
}

.voting-guide {
  margin-top: 40px;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  background-color: #161b22;
  color: #8b949e;
  font-size: 0.9rem;
  border-top: 2px solid #30363d;
}